@media {
    
.parallax {
  /* The image used */
  background-image: url("leadphoto2.png");

  /* Set a specific height */
  min-height: 100vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
    
.space {
        height:80vh;
    }

h1 {
    padding:0px 10px 0px 10px;
    background: rgba(0, 0, 0, 0.35);
    height:20vh;
    color:white;
    }
    
}

@media (min-width:576px) {
    
}


@media (min-width:992px) {
    
}

@media (min-width:1200px) {
    
}