/*
MY COLOR PALETTE
Dark Yellow - #D1AC00
Black - #0C1618
Light Yellow - #FAF4D3
Dark Green - #004643
Pink - #F6BE9A
*/

body 
{
    background-color:#FAF4D3;
    text-align:center;
}

button {
    background-color:#004643;
    color:#FAF4D3;
    font-family: 'Inter', sans-serif;
    text-transform:uppercase;
    width:200px;
    padding:10px;
    margin:50px 0px 0px 0px;
    border:none;
    border-radius:10px;
}

button:hover {
    background-color:#0C1618;
}

h1 {
    font-family: 'Syne', sans-serif;
    font-weight:bold;
    color:#D1AC00;
    font-size:50px;
}

h2 {
    font-family: 'Syne', sans-serif;
    color:#0C1618;
    font-weight:lighter;
}